
/* ÇOK ÖNEMLİ ÇALŞMA KODLARI EZBERLE VE İYİ ÖĞREN  */

* {
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
}

body {
    background: green url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm222-mind-16_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=1c53e59a7b21c1ffee85bc36a3837392);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form {
    background: #0703e942;
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    border-radius: 10px; 
    width: 300px;
    height: 400px;
}

form h2 {
    font-size: 45px;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
    border-radius: 30px;
    color: white;
}

form input {
    border: none;
    background: none;
    text-align: center;
    outline: none;
    padding: 6px;
    margin: 8px;
    color: white;
    border-radius: 40px;
    height: 30px;
    width: 70%;
    transition: 0.2s ease-in;
}

form input[type="text"], form input[type="eposta"] {
    border: solid 2px #3B3B98;
}

form input[type="submit"] {
    border: solid 2px #55E6C1;
    box-sizing: border-box;
    height: 50px;
    width: 40%;
    cursor: pointer;
}


/* tekrarlananlar */


form input[type="text"]:focus, form input[type="eposta"]:focus {
    width: 80%;
    border: solid 2px #55E6C1;
}

form input[type="submit"]:hover {
    background: #55E6C1;
    color: #182C61;
}



/* password */
form input[type="password"]:focus, form input[type="password"]:focus {
    width: 80%;
    border: solid 2px #55E6C1;
}


form input[type="password"], form input[type="password"] {
    border: solid 2px #3B3B98;
}

